In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

In [2]:
# Import the API key.
from config import g_key

In [3]:
# Configure gmaps to use your API key 
gmaps.configure(api_key=g_key)

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data_cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-01-23 04:16:20,-46.1927,168.8643,60.01,57,97,18.01
1,1,Kupang,ID,2021-01-23 04:16:20,-10.1667,123.5833,80.60,94,75,8.05
2,2,Amapa,BR,2021-01-23 04:13:10,1.0000,-52.0000,71.58,98,100,1.81
3,3,Atuona,PF,2021-01-23 04:15:12,-9.8000,-139.0333,78.21,77,2,14.34
4,4,Port Elizabeth,ZA,2021-01-23 04:16:20,-33.9180,25.5701,71.60,94,90,2.82

In [5]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)
gmaps

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:

fig = gmaps.figure()
locations = [(46.1, 5.2), (46.2, 5.3), (46.3, 5.4)]
fig.add_layer(gmaps.heatmap_layer(locations))
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [23]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kupang,ID,2021-01-23 04:16:20,-10.1667,123.5833,80.60,94,75,8.05
2,2,Amapa,BR,2021-01-23 04:13:10,1.0000,-52.0000,71.58,98,100,1.81
3,3,Atuona,PF,2021-01-23 04:15:12,-9.8000,-139.0333,78.21,77,2,14.34
4,4,Port Elizabeth,ZA,2021-01-23 04:16:20,-33.9180,25.5701,71.60,94,90,2.82
6,6,Bengkulu,ID,2021-01-23 04:16:21,-3.8004,102.2655,85.82,58,15,8.63
7,7,Inhambane,MZ,2021-01-23 04:16:21,-23.8650,35.3833,80.31,87,100,16.60
8,8,Sao Filipe,CV,2021-01-23 04:16:21,14.8961,-24.4956,75.88,59,100,10.04
10,10,Rikitea,PF,2021-01-23 04:16:21,-23.1203,-134.9692,78.49,73,23,12.06
11,11,Busselton,AU,2021-01-23 04:16:22,-33.6500,115.3333,81.00,56,2,4.00
13,13,Hobart,AU,2021-01-23 04:15:05,-42.8794,147.3294,84.00,31,0,14.97

In [24]:
preferred_cities_df.count()

City_ID       193
City          193
Country       193
Date          193
Lat           193
Lng           193
Max Temp      193
Humidity      193
Cloudiness    193
Wind Speed    193
dtype: int64

In [25]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Kupang      ID     80.60 -10.1667  123.5833
2            Amapa      BR     71.58   1.0000  -52.0000
3           Atuona      PF     78.21  -9.8000 -139.0333
4   Port Elizabeth      ZA     71.60 -33.9180   25.5701
6         Bengkulu      ID     85.82  -3.8004  102.2655
7        Inhambane      MZ     80.31 -23.8650   35.3833
8       Sao Filipe      CV     75.88  14.8961  -24.4956
10         Rikitea      PF     78.49 -23.1203 -134.9692
11       Busselton      AU     81.00 -33.6500  115.3333
13          Hobart      AU     84.00 -42.8794  147.3294

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df

               City Country  Max Temp      Lat       Lng            Hotel Name
1            Kupang      ID     80.60 -10.1667  123.5833
2             Amapa      BR     71.58   1.0000  -52.0000
3            Atuona      PF     78.21  -9.8000 -139.0333
4    Port Elizabeth      ZA     71.60 -33.9180   25.5701
6          Bengkulu      ID     85.82  -3.8004  102.2655
..              ...     ...       ...      ...       ...                   ...
563       Mahajanga      MG     78.80 -15.7167   46.3167
565  Cap Malheureux      MU     82.99 -19.9842   57.6142
570       Caravelas      BR     74.10 -17.7125  -39.2481
574        Buchanan      LR     75.20   5.8808  -10.0467
577           Buala      SB     86.70  -8.1450  159.5921  Maringe Lagoon Lodge

[193 rows x 6 columns]

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [33]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))